### Big data

In [214]:
import pandas as pd

# Load the dataset
big_data = pd.read_csv('./data/attempt3/big_data.csv')

# Filter rows where the 'name_0' column is 'United States'
us_data = big_data[big_data['name_0'] == 'United States']

# Display the filtered DataFrame
print(us_data.shape)
us_data.head(5)

FileNotFoundError: [Errno 2] No such file or directory: './data/attempt3/big_data.csv'

In [ ]:
# Columns to keep are only those with '_raw' in their names (indicating raw values) and essential identifiers
columns_to_keep = ['string_id', 'aq30_id', 'pfaf_id', 'gid_1', 'aqid', 'gid_0', 'name_0', 'name_1', 'area_km2'] + [col for col in us_data.columns if '_raw' in col and col not in ['ucw_raw', 'rri_raw']] 

# Remove all columns starting with 'w_awr' from the columns to keep
columns_to_keep = [col for col in columns_to_keep if not col.startswith('w_awr')]

# Create a new DataFrame with only the columns we want to keep
cleaned_us_data = us_data[columns_to_keep]

# Display the first few rows of the cleaned DataFrame to verify
print(cleaned_us_data.shape)
cleaned_us_data.head(5)

(3433, 20)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,name_0,name_1,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
29007,355000-USA.2_1-1047,29004,355000,USA.2_1,1047,USA,United States,Alaska,781.766461,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29008,355000-USA.2_1-1064,29005,355000,USA.2_1,1064,USA,United States,Alaska,206.480664,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29009,355000-USA.2_1-1079,29006,355000,USA.2_1,1079,USA,United States,Alaska,254.894601,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29010,355000-USA.2_1-1083,29007,355000,USA.2_1,1083,USA,United States,Alaska,216.348231,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29011,355000-USA.2_1-1085,29008,355000,USA.2_1,1085,USA,United States,Alaska,60.852730,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945

In [ ]:
# Create a copy of the DataFrame to avoid SettingWithCopyWarning
cleaned_us_data = us_data[columns_to_keep].copy()

# Rename the columns 'name_0' to 'country' and 'name_1' to 'state'
cleaned_us_data.rename(columns={'name_0': 'country', 'name_1': 'state'}, inplace=True)

# Display the first few rows of the DataFrame to verify the new column names
cleaned_us_data.head(3)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
29007,355000-USA.2_1-1047,29004,355000,USA.2_1,1047,USA,United States,Alaska,781.766461,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29008,355000-USA.2_1-1064,29005,355000,USA.2_1,1064,USA,United States,Alaska,206.480664,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
29009,355000-USA.2_1-1079,29006,355000,USA.2_1,1079,USA,United States,Alaska,254.894601,0.000023,0.000009,0.233706,0.12846,-9999.0,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945

In [ ]:
no_duplicates = cleaned_us_data.drop_duplicates([col for col in cleaned_us_data.columns if '_raw' in col] )
no_duplicates.head(5)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
29007,355000-USA.2_1-1047,29004,355000,USA.2_1,1047,USA,United States,Alaska,781.766461,0.000023,0.000009,0.233706,0.128460,-9999.000000,0.000106,0.0,0.084501,-9999.000000,0.081809,0.239945
51881,712243-USA.24_1-352,51880,712243,USA.24_1,352,USA,United States,Minnesota,1358.169040,0.020586,0.004826,0.351838,0.206946,0.320780,0.005378,0.0,0.299685,0.291538,0.015730,0.012060
51882,712243-USA.24_1-844,51881,712243,USA.24_1,844,USA,United States,Minnesota,6148.518524,0.020586,0.004826,0.351838,0.206946,-0.430512,0.005378,0.0,0.299685,0.291538,0.015730,0.012060
51883,712244-USA.24_1-352,51882,712244,USA.24_1,352,USA,United States,Minnesota,2085.358259,0.030276,0.008565,0.534162,0.308120,0.320780,0.005807,0.0,0.482654,0.300363,0.033246,0.001175
51884,712244-USA.24_1-844,51883,712244,USA.24_1,844,USA,United States,Minnesota,3287.536309,0.030276,0.008565,0.534162,0.308120,-0.430512,0.005807,0.0,0.482654,0.300363,0.033246,0.001175

In [ ]:
certain_value = 'Hawaii'
column_name = 'state'  # Example column name

# Dropping rows with certain_value in column_name
final_us_data  = no_duplicates[no_duplicates[column_name] != certain_value]
#df.head(5)

### Small data

In [ ]:
import pandas as pd

# Load the dataset
small_data = pd.read_csv('./data/attempt3/small_data.csv')

# Display the filtered DataFrame
print(small_data.shape)
small_data.head()

(360, 271)

,the_geom,points_id,location_name,input_address,match_address,latitude,longitude,major_basin_name,minor_basin_name,aquifer_name,...,w_awr_tex_rrr_raw,w_awr_tex_rrr_score,w_awr_tex_rrr_cat,w_awr_tex_rrr_label,w_awr_tex_rrr_weight_fraction,w_awr_tex_tot_raw,w_awr_tex_tot_score,w_awr_tex_tot_cat,w_awr_tex_tot_label,w_awr_tex_tot_weight_fraction
0,0101000020E610000070253B3602EF54C01B649291B322...,0,undefined,_,-,42.271105,-83.734510,St Lawrence,Huron,NaN,...,0.617001,1.290826,1,Low - Medium (1-2),0.326531,1.168445,1.264075,1,Low - Medium (1-2),0.918367
1,0101000020E61000008811C2A38DC951C0FFEC478AC83C...,1,undefined,_,-,42.474870,-71.149270,Atlantic Ocean Seaboard,Charles,NaN,...,0.461973,1.148599,1,Low - Medium (1-2),0.326531,1.101490,1.152484,1,Low - Medium (1-2),0.918367
2,0101000020E6100000E4C8FB1FFD5353C0DC7D12C83A76...,2,undefined,_,-,42.923669,-77.312325,St Lawrence,Seneca,NaN,...,0.694777,1.362180,1,Low - Medium (1-2),0.326531,0.760882,0.753348,0,Low (0-1),0.918367
3,0101000020E610000093BC001C77A352C04961621CF123...,3,undefined,_,-,40.280796,-74.554145,"United States, North Atlantic Coast",Raritan,NaN,...,0.486630,1.171221,1,Low - Medium (1-2),0.326531,1.191432,1.302387,1,Low - Medium (1-2),1.000000
4,0101000020E6100000CAA5F10BAF7B5EC0D7CF8BA8C3BE...,4,undefined,_,-,37.490346,-121.932559,California,Coyote,NaN,...,0.440000,1.128440,1,Low - Medium (1-2),0.326531,1.265384,1.425640,1,Low - Medium (1-2),0.918367

In [ ]:
# Define the columns to keep
columns_to_keep = ['string_id', 'aq30_id', 'pfaf_id', 'gid_1', 'aqid', 'gid_0', 'name_0', 'name_1', 'area_km2'] + [col for col in small_data.columns if '_raw' in col and col not in ['ucw_raw', 'rri_raw']] 

# Remove any columns starting with 'w_awr' from the list
columns_to_keep = [col for col in columns_to_keep if not col.startswith('w_awr')]

# Create a new DataFrame with only the specified columns
cleaned_small_data = small_data[columns_to_keep].copy()

In [ ]:
no_duplicates1 = cleaned_small_data.drop_duplicates([col for col in cleaned_small_data.columns if '_raw' in col] )
no_duplicates1.head(5)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,name_0,name_1,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
0,725572-USA.23_1-844,53190,725572,USA.23_1,844,USA,United States,Michigan,2062.767827,0.577778,0.124035,0.322604,0.319555,-0.430512,0.001230,0.000000,0.404088,1.850749,0.020419,0.000733
1,731190-USA.22_1-1158,53593,731190,USA.22_1,1158,USA,United States,Massachusetts,8235.727113,0.227893,0.056918,0.109970,0.062591,-0.888467,0.003236,0.000043,0.283779,5.962378,0.013285,0.000486
2,725540-USA.33_1-1158,53139,725540,USA.33_1,1158,USA,United States,New York,13679.987580,0.001699,0.000475,0.372785,0.388458,-0.888467,0.001266,0.000000,0.333397,1.928940,0.025333,0.000902
3,731504-USA.31_1-1400,53662,731504,USA.31_1,1400,USA,United States,New Jersey,1133.681346,0.733216,0.195625,0.398473,0.301855,0.602974,0.000191,0.000000,0.344127,7.842522,0.014225,0.000519
4,774300-USA.5_1-1441,58425,774300,USA.5_1,1441,USA,United States,California,10534.359930,0.168964,0.048209,0.657045,0.713420,-0.365303,0.007320,0.000049,0.363087,9.124589,0.005542,0.000220

In [ ]:
# Display the filtered DataFrame
print(cleaned_small_data.shape)
cleaned_small_data.head()

(360, 20)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,name_0,name_1,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
0,725572-USA.23_1-844,53190,725572,USA.23_1,844,USA,United States,Michigan,2062.767827,0.577778,0.124035,0.322604,0.319555,-0.430512,0.001230,0.000000,0.404088,1.850749,0.020419,0.000733
1,731190-USA.22_1-1158,53593,731190,USA.22_1,1158,USA,United States,Massachusetts,8235.727113,0.227893,0.056918,0.109970,0.062591,-0.888467,0.003236,0.000043,0.283779,5.962378,0.013285,0.000486
2,725540-USA.33_1-1158,53139,725540,USA.33_1,1158,USA,United States,New York,13679.987580,0.001699,0.000475,0.372785,0.388458,-0.888467,0.001266,0.000000,0.333397,1.928940,0.025333,0.000902
3,731504-USA.31_1-1400,53662,731504,USA.31_1,1400,USA,United States,New Jersey,1133.681346,0.733216,0.195625,0.398473,0.301855,0.602974,0.000191,0.000000,0.344127,7.842522,0.014225,0.000519
4,774300-USA.5_1-1441,58425,774300,USA.5_1,1441,USA,United States,California,10534.359930,0.168964,0.048209,0.657045,0.713420,-0.365303,0.007320,0.000049,0.363087,9.124589,0.005542,0.000220

In [ ]:
# Rename the columns 'name_0' to 'country' and 'name_1' to 'state'
cleaned_small_data.rename(columns={'name_0': 'country', 'name_1': 'state'}, inplace=True)

In [ ]:
cleaned_small_data.head(3)

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
0,725572-USA.23_1-844,53190,725572,USA.23_1,844,USA,United States,Michigan,2062.767827,0.577778,0.124035,0.322604,0.319555,-0.430512,0.001230,0.000000,0.404088,1.850749,0.020419,0.000733
1,731190-USA.22_1-1158,53593,731190,USA.22_1,1158,USA,United States,Massachusetts,8235.727113,0.227893,0.056918,0.109970,0.062591,-0.888467,0.003236,0.000043,0.283779,5.962378,0.013285,0.000486
2,725540-USA.33_1-1158,53139,725540,USA.33_1,1158,USA,United States,New York,13679.987580,0.001699,0.000475,0.372785,0.388458,-0.888467,0.001266,0.000000,0.333397,1.928940,0.025333,0.000902

### Saving both dataframe in CSV files

In [ ]:
# Save the cleaned large dataset to a CSV file
final_us_data.to_csv('./data/attempt3/cleaned_large_data.csv', index=False)

# Save the cleaned small dataset to a CSV file
cleaned_small_data.to_csv('./data/attempt3/cleaned_small_data.csv', index=False)

### Load the saved files again and Look for duplicate values

In [ ]:
import pandas as pd

# Assuming you have already loaded your datasets into DataFrame
# Load datasets if not already done
large_data = pd.read_csv('./data/attempt3/cleaned_large_data.csv')
small_data = pd.read_csv('./data/attempt3/cleaned_small_data.csv')

# Remove duplicates based on 'aqid' and all other columns
small_data = small_data.drop_duplicates(subset=['aqid'] + list(small_data.columns))
large_data = large_data.drop_duplicates(subset=['aqid'] + list(large_data.columns))

# Save the cleaned datasets
small_data.to_csv('cleaned_small_data.csv', index=False)
large_data.to_csv('cleaned_large_data.csv', index=False)

In [ ]:
large_data

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
0,355000-USA.2_1-1047,29004,355000,USA.2_1,1047,USA,United States,Alaska,781.766461,0.000023,0.000009,0.233706,0.12846,-9999.000000,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
1,355000-USA.2_1-1064,29005,355000,USA.2_1,1064,USA,United States,Alaska,206.480664,0.000023,0.000009,0.233706,0.12846,-9999.000000,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
2,355000-USA.2_1-1079,29006,355000,USA.2_1,1079,USA,United States,Alaska,254.894601,0.000023,0.000009,0.233706,0.12846,-9999.000000,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
3,355000-USA.2_1-1083,29007,355000,USA.2_1,1083,USA,United States,Alaska,216.348231,0.000023,0.000009,0.233706,0.12846,-9999.000000,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
4,355000-USA.2_1-1085,29008,355000,USA.2_1,1085,USA,United States,Alaska,60.852730,0.000023,0.000009,0.233706,0.12846,-9999.000000,0.000106,0.0,0.084501,-9999.0,0.081809,0.239945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3428,None-USA.5_1-None,68403,-9999,USA.5_1,-9999,USA,United States,California,2.810765,-9999.000000,-9999.000000,-9999.000000,-9999.00000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.0,-9999.000000,-9999.000000
3429,None-USA.7_1-1158,68404,-9999,USA.7_1,1158,USA,United States,Connecticut,0.095773,-9999.000000,-9999.000000,-9999.000000,-9999.00000,-0.888467,-9999.000000,-9999.0,-9999.000000,-9999.0,-9999.000000,-9999.000000
3430,None-USA.7_1-None,68405,-9999,USA.7_1,-9999,USA,United States,Connecticut,0.021823,-9999.000000,-9999.000000,-9999.000000,-9999.00000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.0,-9999.000000,-9999.000000
3431,None-USA.8_1-1400,68406,-9999,USA.8_1,1400,USA,United States,Delaware,40.415160,-9999.000000,-9999.000000,-9999.000000,-9999.00000,0.602974,-9999.000000,-9999.0,-9999.000000,-9999.0,-9999.000000,-9999.000000
3432,None-USA.8_1-None,68407,-9999,USA.8_1,-9999,USA,United States,Delaware,75.628511,-9999.000000,-9999.000000,-9999.000000,-9999.00000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.0,-9999.000000,-9999.000000

In [ ]:
small_data

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,bwd_raw,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw
0,725572-USA.23_1-844,53190,725572,USA.23_1,844,USA,United States,Michigan,2062.767827,0.577778,0.124035,0.322604,0.319555,-0.430512,0.001230,0.000000,0.404088,1.850749,0.020419,0.000733
1,731190-USA.22_1-1158,53593,731190,USA.22_1,1158,USA,United States,Massachusetts,8235.727113,0.227893,0.056918,0.109970,0.062591,-0.888467,0.003236,0.000043,0.283779,5.962378,0.013285,0.000486
2,725540-USA.33_1-1158,53139,725540,USA.33_1,1158,USA,United States,New York,13679.987580,0.001699,0.000475,0.372785,0.388458,-0.888467,0.001266,0.000000,0.333397,1.928940,0.025333,0.000902
3,731504-USA.31_1-1400,53662,731504,USA.31_1,1400,USA,United States,New Jersey,1133.681346,0.733216,0.195625,0.398473,0.301855,0.602974,0.000191,0.000000,0.344127,7.842522,0.014225,0.000519
4,774300-USA.5_1-1441,58425,774300,USA.5_1,1441,USA,United States,California,10534.359930,0.168964,0.048209,0.657045,0.713420,-0.365303,0.007320,0.000049,0.363087,9.124589,0.005542,0.000220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,742493-USA.17_1-1363,54397,742493,USA.17_1,1363,USA,United States,Kansas,14058.932370,0.304765,0.149098,0.755554,0.456868,0.328266,0.002351,0.000000,0.530588,0.934831,0.017656,0.000637
351,725555-USA.33_1-1158,53156,725555,USA.33_1,1158,USA,United States,New York,5746.506270,0.005066,0.001206,0.367254,0.328150,-0.888467,0.001880,0.000000,0.315653,1.718303,0.013828,0.001975
352,742678-USA.36_1-1216,54575,742678,USA.36_1,1216,USA,United States,Ohio,17080.695270,0.356605,0.084135,0.253237,0.207962,-0.274031,0.000126,0.000000,0.501858,0.934937,0.015105,0.000550
354,732407-USA.41_1-1414,53888,732407,USA.41_1,1414,USA,United States,South Carolina,514.146944,0.152156,0.030839,0.602346,0.096399,1.070200,0.000015,0.000000,0.376405,-0.320061,0.025970,0.000924
355,751640-USA.44_1-1612,55189,751640,USA.44_1,1612,USA,United States,Texas,13176.612830,0.245373,0.078500,0.595262,0.167992,0.707641,0.001437,0.000000,0.455871,-0.527336,0.017909,0.000646

In [ ]:
# Ensuring both dataframes have the same columns and in the same order
small_data = small_data.reindex(columns=large_data.columns)

In [ ]:
# Concatenate the DataFrames
merged_data = pd.concat([small_data, large_data], ignore_index=True)

In [ ]:
merged_data.shape

(3531, 20)

In [ ]:
# Adding a 'presence_absence' column
# Assuming 'small_data' has been assigned 1 (With) and 'big_data' 0 (Without)
merged_data['presence_absence'] = [1] * len(small_data) + [0] * len(large_data)

In [ ]:
# Sort the merged data by 'presence_absence' in descending order so that '1' (with) comes before '0' (without)
merged_data.sort_values(by='presence_absence', ascending=False, inplace=True)

In [ ]:
merged_data

,string_id,aq30_id,pfaf_id,gid_1,aqid,gid_0,country,state,area_km2,bws_raw,...,iav_raw,sev_raw,gtd_raw,rfr_raw,cfr_raw,drr_raw,cep_raw,udw_raw,usa_raw,presence_absence
0,725572-USA.23_1-844,53190,725572,USA.23_1,844,USA,United States,Michigan,2062.767827,0.577778,...,0.322604,0.319555,-0.430512,0.001230,0.000000,0.404088,1.850749,0.020419,0.000733,1
74,732402-USA.41_1-1400,53878,732402,USA.41_1,1400,USA,United States,South Carolina,1981.427932,0.671913,...,0.474361,0.170584,0.602974,0.000790,0.000000,0.367905,-0.261415,0.024722,0.000881,1
72,774160-USA.5_1-1441,58402,774160,USA.5_1,1441,USA,United States,California,6489.297197,5.307029,...,0.723832,0.501935,-0.365303,0.000961,0.000000,0.366932,3.497037,0.005112,0.000205,1
71,781002-USA.38_1-725,58589,781002,USA.38_1,725,USA,United States,Oregon,9329.110744,0.063482,...,0.387921,0.501520,-0.027497,0.001441,0.000000,0.294180,-18.101568,0.019064,0.000686,1
70,732571-USA.10_1-1400,53938,732571,USA.10_1,1400,USA,United States,Florida,9542.228009,0.694238,...,0.581573,0.441926,0.602974,0.007218,0.000013,0.315998,-9.788635,0.005696,0.000225,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,742677-USA.36_1-1397,54574,742677,USA.36_1,1397,USA,United States,Ohio,5214.477446,0.031141,...,0.268622,0.218207,0.425349,0.000638,0.000000,0.482472,0.934831,0.019269,0.000693,0
1245,742678-USA.36_1-1216,54575,742678,USA.36_1,1216,USA,United States,Ohio,17080.695272,0.356605,...,0.253237,0.207962,-0.274031,0.000126,0.000000,0.501858,0.934937,0.015105,0.000550,0
1246,742679-USA.18_1-1216,54576,742679,USA.18_1,1216,USA,United States,Kentucky,8962.652611,0.361580,...,1.228518,0.193848,-0.274031,0.002577,0.000000,0.403591,0.934831,0.030692,0.001087,0
1247,742679-USA.36_1-1216,54577,742679,USA.36_1,1216,USA,United States,Ohio,4649.532625,0.361580,...,1.228518,0.193848,-0.274031,0.002577,0.000000,0.403591,0.934831,0.030692,0.001087,0
3530,None-USA.8_1-None,68407,-9999,USA.8_1,-9999,USA,United States,Delaware,75.628511,-9999.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,0

In [ ]:
# Drop duplicates based on all columns except 'presence_absence'
merged_data.drop_duplicates(subset=merged_data.columns.difference(['presence_absence']), keep='first', inplace=True)

In [ ]:
# Save the updated merged DataFrame
merged_data.to_csv('./data/attempt3/merged_data.csv', index=False)